@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* GLOBAL */
.content{
    max-width: 1550px;
    margin: auto;
    padding: 0 30px;
}

::selection {
    color: #fff;
    background-color: #65DB5A;
}

/* NAVBAR */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 2;
    padding: 25px 0;
    transition: all 0.3s ease;
}

.navbar.sticky{
    background: #1b1b1b;
    padding: 10px 0;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
}

.navbar .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    font-family: 'Bebas Neue', sans-serif;
    color: #65DB5A;
    font-size: 30px;
    text-decoration: none;
}

.navbar .menu-list{
    display: inline-flex;
}

.menu-list li{
    list-style: none;
}

.menu-list li a{
    color: #fff;
    font-size: 18px;
    font-weight: 200;
    margin-left: 65px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.menu-list li a:hover{
    color: #65DB5A;
}

.login{
    display: flex;
    align-items: center;
}

.login a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 100;
    margin-right: 20px;
    color: #fff;
}

.login .register{
    font-size: 18px;
    font-weight: 100;
    color: #fff;
    padding: 5px 22px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    background-color: #65DB5A;
    transition: all .5s ease;
}

.login .register:hover{
    background-color: #65DB5A;
}

.icon{
    color: #fff;
    font-size: 35px;
    cursor: pointer;
    display: none;
}

.menu-list .cancel-btn{
    position: absolute;
    right: 30px;
    top: 20px;
}

/* HOME */
.home{
    width: 100%;
    height: 100vh;
    padding-top: 80px;
    background: radial-gradient(circle, rgba(20,20,20,1) 0%, rgba(12,12,12,1) 100%);
}

.home .content{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home .content .left{
    width: 40%;
}

.home .content .left .join{
    width: 425px;
    display: flex;
    align-items: center;
    margin: 20px 0;
    padding: 5px;
    border-radius: 10px;
    background-color: #2E2E2E;
}

.home .content .left .join .join-btn{
    font-size: 16px;
    padding: 3px 14px;
    margin-right: 15px;
    cursor: pointer;
    border: none;
    border-radius: 12px;
}

.home .content .left .join p{
    font-weight: 100;
    color: #fff;
}

.home .content .left .big-text h1{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 52px;
    font-weight: 400;
    line-height: 1;
    color: #fff;
}

.home .content .left .small-text{
    font-size: 20px;
    font-weight: 200;
    margin-bottom: 20px;
    color: #fff;
}

.home .content .left .buttons{
    display: flex;
}

.home .content .left .buttons .start-now{
    margin-right: 30px;
}

.home .content .left .buttons .btn{
    font-size: 20px;
    font-weight: 600;
    padding: 20px 20px;
    border: none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: all .5s ease;
}

.home .content .left .buttons .btn:hover{
    transform: scale(1.1);
}

.home .content .left .buttons .start-now-btn{
    background-color: #65DB5A;
}

.home .content .left .buttons .video-demo-btn{
    display: flex;
    align-items: center;
    background-color: #2E2E2E;
}

.home .content .left .buttons .video-demo-btn i{
    font-size: 24px;
    margin-right: 5px;
}

.home .content .left .infos{
    margin: 20px 0;
    display: flex;
}

.home .content .left .infos .info{
    margin-right: 15px;
}

.home .content .left .infos .info h1{
    font-size: 40px;
    color: #fff;
}

.home .content .left .infos .info p{
    color: #9C9C9C;
}

.home .content .right{
    width: 50%;
    display: flex;
    justify-content: center;
}

.home .content .right .images .main-img{
    position: relative;
}

.home .content .right .images .main-img .fitness{
    position: relative;
    width: 600px;
}

.home .content .right .images .info-left{
    position: absolute;
    width: 180px;
    left: 110px;
    bottom: -20px;
}

.home .content .right .images .info-right{
    position: absolute;
    width: 180px;
    top: -610px;
    right: -30px;
}

.video-demo{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
}

.video-demo.active{
    display: flex;
}

.video-demo .video-content{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.video-demo i{
    font-size: 40px;
    right: 0;
    color: #fff;
    cursor: pointer;
    transition: all .3s ease;
}

.video-demo i:hover{
    transform: scale(1.1);
}

.video-demo .video-content video{
    position: relative;
    width: 60vw;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}

@media (max-width: 1334px) {
    .home .content .right .images .main-img .fitness{
        width: 300px;
    }
    .home .content .right .images .info-left{
        position: absolute;
        width: 130px;
        left: 90px;
        bottom: -15px;
    }
    .home .content .right .images .info-right{
        position: absolute;
        width: 130px;
        top: -500px;
        right: -15px;
    }
    .home .content .left{
        width: 50%;
    }
}
@media (max-width: 1230px) {
    .content{
        padding: 0 20px;
    }
}
@media (max-width: 1136px) {
    .home{
        height: auto;
        padding-top: 115px;
        padding-bottom: 30px;
    }
    .home .content{
        flex-direction: column;
    }
    .home .content .left{
        width: 60%;
    }
    .home .content .right{
        padding-top: 10px;
    }
}
@media (max-width: 1100px) {
    .content{
        padding: 0 15px;
    }
}
@media (max-width: 900px) {
    .content{
        padding: 0 10px;
    }
}
@media (max-width: 868px) {
    body.disabled{
        overflow: hidden;
    }
    .icon{
        display: block;
    }
    .icon.hide{
        display: none;
    }
    .navbar .menu-list{
        position: fixed;
        height: 100vh;
        width: 100%;
        max-width: 400px;
        left: -100%;
        top: 0px;
        display: block;
        padding: 40px 0;
        text-align: center;
        background: #222;
        transition: all 0.3s ease;
    }
    .navbar.show .menu-list{
        left: 0%;
    }
    .navbar .menu-list li{
        margin-top: 45px;
    }
    .navbar .menu-list li a{
        font-size: 23px;
        margin-left: -100%;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .navbar.show .menu-list li a{
        margin-left: 0px;
    }
    .home .content .left{
        width: 80%;
    }
}
@media (max-width: 380px) {
    .navbar .logo a{
        font-size: 27px;
    }
}